.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
  background-color: #fff;
  border: .05rem solid #fff;
}

html,
body {
    height: 100%;
    scroll-behavior:smooth;
}

body {
  display: -ms-flexbox;
  /* display: flex; */
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

#background-picture {
    background: linear-gradient(to right, rgba(250, 250, 250, 0.9), rgba(240, 240, 240, 0.85)), url(../img/vienna-winter.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main-container {
  max-width: 52em;
}

.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color:  #333;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color:  #333;
  border-bottom-color:  #333;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

.page {
    margin-top: 3rem;
    margin-bottom: 1rem;
    padding-top: 3rem;
    border-radius: 10px;
    /* height: 80%; */
}

#speakers {

}

.speaker {
    width: 12em;
}

.profile-pic {
    margin: 0 auto;
    overflow: hidden;
    height: 11em;
    width: 10em;
    border-radius: 100px;
}

.sponsor-pic {
    margin: 0 auto;

    width: 15em;
}

.sponsor-pic img {
    width: 100%;
}

.profile-pic img{
    width: 10em;
    margin: auto;
}

.main .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.mastfoot {
  /* color: rgba(255, 255, 255, .5); */
}

#message-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 105%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 1;
}

