<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Austrian Peptide Symposium - Register</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <link href="css/styles.css" rel="stylesheet">

  </head>
  <body class="text-center" id="background-picture">
    <div class="w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead position-fixed fixed-top bg-light shadow-sm">
        <div class="w-100 d-flex justify-content-around">
          <div>
            <h3 class="masthead-brand">AtPS</h3>
          </div>
          <div>
            <nav class="nav nav-masthead justify-content-center">
              <a class="nav-link" href="index.html">Home</a>
            </nav>
          </div>
        </div>
      </header>

      <div class="page shadow-lg bg-light pb-5 d-flex justify-content-center" id="vue-admin">
        <div class="p-5 w-100" v-bind:class="{ 'd-none': showitems }">
          <form>
            <fieldset>
              <div class="d-flex justify-content-center">
                <div class="form-group p-2">
                  <label>username</label>
                  <input type="text" name="username" class="form-control" v-model="username">
                </div>
                <div class="form-group p-2">
                  <label>password</label>
                  <input type="password" name="username" class="form-control" v-model="password">
                </div>
              </div>
            </fieldset>
            <button class="btn" @click.prevent="login">Submit</button>
          </form>
        </div>
        <div class="p-1 w-100" v-bind:class="{ 'd-none': showlogin }">
          <div class="d-flex align-items-center justify-content-center">
          <table>
            <tr class="border-bottom border-primary font-weight-bold">
              <td class="p-2">Name</td>
              <td class="p-2">Affiliation</td>
              <td class="p-2">Student</td>
              <td class="p-2">EPS member</td>
              <td class="p-2">Afterparty</td>
              <td class="p-2">Preference</td>
              <td class="p-2">Payment</td>
              <td class="p-2">Abstract</td>
              <td class="p-2">Delete</td>
            </tr>
            <tr v-for="item in items" class="border-bottom">
              <td class="text-wrap"><a :href="'mailto:'+item.email">{{ item.fname }} {{ item.lname }}</a>
              </td>
              <td class="text-wrap">{{ item.affil }}</td>
              <td>{{ item.student }}</td>
              <td>{{ item.member }}</td>
              <td>{{ item.party }}</td>
              <td>{{ item.presents }}</td>
              <td><span v-if="item.booked">OK</span><span v-else><button class="btn btn-sm btn-info" v-on:click="markPayment(item.id)">Mark</button>
                </span>
              </td>
              <td >
                <span v-if="item.abstract"><a :href="item.abstract">Download</a></span>
              </td>
              <td><button class="btn btn-sm btn-danger" v-on:click="deleteItem(item.id)">x</button></td>
            </tr>
          </table></div>
          <p><a href="https://litrev.org/atps/exportlist" v-on:click="downloadFile('showList')" v-bind:class="{ 'd-none': !showList }">download attendee list</a></p>
          <p v-bind:class="{ 'd-none': showList }">Loading</p>
          <p><a href="https://litrev.org/atps/export.pdf"  v-on:click="downloadFile('showPdfs')" v-bind:class="{ 'd-none': !showPdfs }">download all abstracts</a>
          <p v-bind:class="{ 'd-none': showPdfs }">Loading</p>
        </div>
        
      </div>
      <div id="vue-message">
        <div class="h-100 row align-items-center"  v-bind:class="{ 'd-none': hide }" id="message-overlay">
          <div class="mx-auto p-3 rounded bg-white mw-75">
            <div class="p-3">
              {{ message }}
            </div>
          </div>
        </div>
      </div>
      <footer class="mastfoot">
        <div class="inner">
        </div>
      </footer>
    </div>
    <div id="loading-overlay"></div>
    <script rel="script" src="js/axios.js"></script>
    <script rel="script" src="js/vue.js"></script>
    <script rel="script" src="js/app.js"></script>
  </body>
</html>
