<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Austrian Peptide Symposium - Register</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <link href="css/styles.css" rel="stylesheet">

  </head>
  <body class="text-center" id="background-picture">
    <div class="main-container w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead position-fixed fixed-top bg-light shadow-sm">
        <div class="w-100 d-flex justify-content-around">
          <div>
            <h3 class="masthead-brand">AtPS</h3>
          </div>
          <div>
            <nav class="nav nav-masthead justify-content-center">
              <a class="nav-link" href="index.html">Home</a>
              <!-- <a class="nav-link" href="info.html">Information</a> -->
            </nav>
          </div>
        </div>
      </header>

      <div class="page shadow-lg bg-transparent pb-5 d-flex justify-content-center" id="vue-admin">
        <div class="p-5 w-75" v-bind:class="{ 'd-none': showitems }">
          <form>
            <fieldset>
              <div class="d-flex justify-content-center">
                <div class="form-group p-2">
                  <label>username</label>
                  <input type="text" name="username" class="form-control" v-model="username">
                </div>
                <div class="form-group p-2">
                  <label>password</label>
                  <input type="password" name="username" class="form-control" v-model="password">
                </div>
              </div>
            </fieldset>
            <button class="btn" @click.prevent="login">Submit</button>
          </form>
        </div>
        <div class="p-1 w-100" v-bind:class="{ 'd-none': showlogin }">
          <table>
            <tr>
              <td>Name</td>
              <td>Affiliation</td>
              <td>Student</td>
              <td>EPS member</td>
              <td>Attending afterparty</td>
              <td>Payment</td>
              <td>Abstract</td>
            </tr>
          </table>
        </div>
      </div>
      
      <footer class="mastfoot">
        <div class="inner">
        </div>
      </footer>
    </div>
    <script rel="script" src="js/axios.js"></script>
    <script rel="script" src="js/vue.min.js"></script>
    <script rel="script" src="js/app.js"></script>
  </body>
</html>
