<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Austrian Peptide Symposium - Register</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <link href="css/styles.css" rel="stylesheet">
  </head>
  <body class="text-center" id="background-picture">
    <noscript>
      <meta http-equiv="refresh" content="0;url=noscript.html">
    </noscript>

    <div class="main-container w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead position-fixed fixed-top bg-light shadow-sm">
        <div class="w-100 d-flex justify-content-around">
          <div>
            <h3 class="masthead-brand">AtPS</h3>
          </div>
          <div>
            <nav class="nav nav-masthead justify-content-center">
              <a class="nav-link" href="index.html">Home</a>
              <!-- <a class="nav-link" href="info.html">Information</a> -->
            </nav>
          </div>
        </div>
      </header>
      <div class="page shadow-lg bg-transparent pb-5 d-flex justify-content-center" id="vue-register">
        <div class="p-5 w-75">
          <h2>Register</h2>
          <form method="POST" action="">
            <fieldset>
              <div class="d-flex justify-content-center">
                <div class="form-group p-2">
                  <label>First name:</label>
                  <input type="text" name="firstName" class="form-control" v-model="fname">
                </div>
                <div class="form-group p-2">
                  <label>Last name:</label>
                  <input type="text" name="lastName" class="form-control" v-model="lname">
                </div>
              </div>
              
              <div class="">
                <div class="form-group p-2">
                  <label>Email address:</label>
                  <input type="text" name="email" class="form-control" v-model="email">
                </div>
                <div class="form-group p-2">
                  <label>Affiliation</label>
                  <textarea class="form-control w-100" name="affiliation" v-model="affil"></textarea>
                </div>
                <div class="form-group text-left w-50 pl-5">
                  <div class="form-group">
                    <input type="checkbox" name="isStudent" class="form-check-input" v-model="student"> Student
                  </div>
                  <div class="form-group">
                    <input type="checkbox" name="isMember" class="form-check-input" v-model="member"> EPS member
                  </div>
                  <div class="form-group">
                    <input type="checkbox" name="willPart" class="form-check-input" v-model="party"> Participate in Social Evening
                  </div>
                  
                </div>
                
                
              </div>
              <div class="ml-3">
                <div class="form-group text-left">
                  <div class="pr-2">
                    <label>Abstract:</label>
                  </div>
                  <input type="file" id="file" ref="file" name="lastName" class="form-control-file" v-on:change="handleFileUpload()">
                </div>
              </div>
            </fieldset>
            <button class="btn" @click.prevent="sendData">Submit</button>
          </form>
        </div>
      </div>
      
      <div id="vue-message">
        <div class="h-100 row align-items-center"  v-bind:class="{ 'd-none': hide }" id="message-overlay">
          <div class="mx-auto p-3 rounded bg-white mw-75" id="message-body">
              <a class="btn btn-primary btn-sm m-2" href="noscript.html">Register</a>              
          </div>
        </div>
      </div>

      <footer class="mastfoot">
        <div class="inner">
          <small>
            <p>
              For more information and involvement in future meetings please contact: Dr. Christian Gruber</p>
            <p>
              Tel.: +43-(0)1-40160-31390, Email: christian.w.gruber@meduniwien.ac.at
            </p>
          </small>
        </div>
      </footer>
    </div>
    <div id="loading-overlay"></div>
    <script>
      document.getElementById('message-body').innerHTML = `
      
      <div class="p-3">
        {{ message }}
      </div>
      <div class="flex-row">
        <div v-if="payment">
          <a class="btn btn-primary btn-sm m-2" target="_blank" rel="noopener noreferrer" href="https://payment.meduniwien.ac.at/peptidsymposium/">To Payment</a>
        </div>
        <div v-if="status != 'error'">
          <a class="btn btn-primary btn-sm m-2" href="index.html">Home</a>
        </div>
      </div>

      `;
    </script>
    <script rel="script" src="js/axios.js"></script>
    <script rel="script" src="js/vue.js"></script>
    <script rel="script" src="js/app.js"></script>
  </body>
</html>
